/* Typrograph */
.__text--head {
    color: #5F5F5F;
    /*font-size: 5vh;
    line-height: 5vh;*/
    font-size: 2.1rem;
    line-height: 2.2rem;
}
.__text--context {
    color: #757575;
    /*font-size: 2vh;*/
    font-size: 1.1rem;
}

/* Header */
.header__nav__content {
    /*display: flex;*/
}
.header__nav ul a {
    font-size: 0.95rem;
}
.header__nav__logo--logo {
    height: 30px;
}
.header__nav__logo--name {
    height: 20px;
    margin-left: 10px;
}
.header__nav__menu {
    margin-left: auto;
}
.header__nav__menu ul li a {
    color: #000;
}
.header__nav__menu ul li a:hover {
    color: #555;
}
.header__nav__hamburger {
    margin-left: auto;
}
.header__nav__hamburger a {
    color: #000;
}

/* Content : 1 */

/*  Mobile Rule */
@media only screen and (max-width: 600px) {
    .content__section1__button button{
        width: 200px;
        display: block;
        margin: 1vw auto;
    }
}

.content__section1 {
    background-color: #FFF;
    padding: 3vw 0;
    margin-top: 1vw;
}
.content__section1__input--email {
    width: 80%!important;
    display: none;
}
.content__section1__input--email::-webkit-input-placeholder {
   color: #AAA;
}
.content__section1__input--email::-moz-placeholder {
   color: #AAA;
}
.content__section1__input--email:-moz-placeholder {
   color: #AAA;
}
.content__section1__input--email:-ms-input-placeholder {
   color: #AAA;
}


/* Content : 2 */

/* Desktop & Tablet Rule */
@media only screen and (min-width: 600px) {
    .content__section2__box--image {
        height: 700px;
    }
    .content__section2__box--image--mobile {
        height: 700px;
    }
    .content__section2__box--image--app {
        position: absolute;
        top: 117px;
        left: 0;
        /*background-color: rgba(255, 0, 0, 0.5);*/
        text-align: center;
        height: 462px;
        width: 260px;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        left: 50%;
        margin-left: -131px;
        /*right: 50%;*/
        
    }
}

/*  Mobile Rule */
@media only screen and (max-width: 600px) {
    .content__section2__box--image {
        height: 400px;
    }
    .content__section2__box--image--mobile {
        height: 400px;
        margin-top: 0px;
    }
    .content__section2__box--image--app {
        position: absolute;
        top: 67px;
        left: 0;
        /*background-color: rgba(255, 0, 0, 0.5);*/
        text-align: center;
        height: 263px;
        width: 149px;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        left: 50%;
        margin-left: -75px;
        /*right: 50%;*/
        
    }
}


.content__section2__box--image--app img {
    width: 100%;
    height: 100%;
}

.content__section2__box--image--image  {
    max-width: 100%;
}

.content__section2 {
    /*background-color: #222;*/
}
.content__section2__box--image {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-image: url('../images/content2.png');
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.2);
    position: relative;
}

/*.content__section2__box--image--image {
    height: 700px;
    filter: drop-shadow(0px 0px 100px #333);
}*/

.content__section2__box--context {
    text-align: center;
    padding: 0vw 4vw 4vw 4vw!important;
}

/* Content : 3 */

/* Desktop & Tablet Rule */
@media only screen and (min-width: 600px) {
    .content__section3__box--image--image {
        display: block;
        width: 100%;
    }
    .content__section3__box {
        display: flex;
        flex-direction: row-reverse;
    }
    .content__section3___box--image {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .content__section3___box--context {
        flex: 1;
        padding-top: 4vw!important;
        padding-bottom: 4vw!important;
    }
}

/*  Mobile Rule */
@media only screen and (max-width: 600px) {
    .content__section3__box--image--image {
        width: 100%;
    }
    .content__section3__box {
        padding: 4vw;
    }
    .content__section3___box--context {
        text-align: center;
        margin-top: 2.2vw;
    }
}

.content__section3 {
    background-color: #FFF;
}



/* Content : 4 */
/* Desktop & Tablet Rule */

@media only screen and (min-width: 600px) {
    .content__section4 {
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image : url('https://d3ptyyxy2at9ui.cloudfront.net/dda912df6e4bbc8dfe5df34384b755d1.jpg');
        height: 500px;
    }
    .content__section4__box {
        height: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .content__section4:before {
        content: '';
        display: block;
        background-size: cover;
        background-position-x: right;
        background-position-y: right;
        background-repeat: no-repeat;
        background-image : url('https://d3ptyyxy2at9ui.cloudfront.net/dda912df6e4bbc8dfe5df34384b755d1.jpg');
        height: 300px;
    }
    .content__section4__box {
        margin-top: 4vw;
        padding-bottom: 4vw!important;
        text-align: center;
    }
}

.content__section4 {
    /*padding: 4vw;*/
}
